USE [master]
GO
/****** Object:  Database [PSMS]    Script Date: 07/06/2023 21:07:58 ******/
CREATE DATABASE [PSMS] ON  PRIMARY 
( NAME = N'PSMS', FILENAME = N'D:\Microsoft SQL Server\MSSQL10_50.SQLEXPRESS\MSSQL\DATA\PSMS.mdf' , SIZE = 3072KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'PSMS_log', FILENAME = N'D:\Microsoft SQL Server\MSSQL10_50.SQLEXPRESS\MSSQL\DATA\PSMS_log.ldf' , SIZE = 1024KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [PSMS].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [PSMS]
GO
/****** Object:  Table [dbo].[Goods]    Script Date: 07/06/2023 21:07:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Goods](
	[Gid] [bigint] NOT NULL,
	[Gname] [varchar](50) NULL,
	[Garea] [varchar](50) NULL,
	[Gicid] [varchar](50) NULL,
	[Price] [int] NOT NULL,
	[Category] [varchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[Gid] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[GoodsSelling]    Script Date: 07/06/2023 21:07:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[GoodsSelling](
	[Gid] [bigint] NOT NULL,
	[GSelling] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Gid] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Users]    Script Date: 07/06/2023 21:07:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Users](
	[Uid] [bigint] NOT NULL,
	[Uname] [varchar](50) NOT NULL,
	[Ucall] [varchar](50) NULL,
	[Uaddr] [varchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[Uid] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Storeage]    Script Date: 07/06/2023 21:07:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Storeage](
	[Gid] [bigint] NOT NULL,
	[Gcount] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Gid] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Sales]    Script Date: 07/06/2023 21:07:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Sales](
	[Sid] [bigint] NOT NULL,
	[Sdate] [datetime] NOT NULL,
	[Gid] [bigint] NOT NULL,
	[Smount] [int] NOT NULL,
	[Uid] [bigint] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Sid] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[GoodsOn]    Script Date: 07/06/2023 21:07:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[GoodsOn](
	[GOnid] [bigint] NOT NULL,
	[Gid] [bigint] NOT NULL,
	[GOnmount] [int] NOT NULL,
	[GOndate] [datetime] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[GOnid] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[GoodsOff]    Script Date: 07/06/2023 21:07:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[GoodsOff](
	[GOffid] [bigint] NOT NULL,
	[Gid] [bigint] NOT NULL,
	[GOffmount] [int] NOT NULL,
	[GOffdate] [datetime] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[GOffid] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
